<div class="container">
<p>
   Author: {{quote.author}}<br>
    Publisher: {{quote.publisher}}<br>
  </p>
  <div class="row">
      <div class="col-md-2"><button type="button" class="btn btn-info" (click)='voteshow()'>Vote</button></div>
      <div class="col-md-2"><p *ngIf="voteshow">{{votequote}}</p></div>
 </div>
         
 <div class="row">
 <div class="col-md-2"> <button type="button" class="btn btn-info" (click)="downvoteshow()">Downvote</button></div>
   <div class="col-md-2"><p *ngIf="downvoteshow">{{downvotequote}}</p></div>
 </div>         
    <p>This quote was posted in {{quote.completeDate|dateCounting}} days ago</p>
  <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete</button>
</div>