<div class="container">
    <h1>My Beautiful quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
    
         <div *ngFor='let cake of quote; let i = index'>
        
          <h4 id={{i}} appStrikesuccess>{{cake.quote}} {{cake.completeDate}} due on {{quote.completeDate|date|uppercase}}</h4>
        <br>
         <button (click)='toggleQuotes(i)' class="btn btn-primary">Toggle Quotes</button>

         <div *ngIf='cake.showDescription'>
    <app-quote-details [quote]='cake' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
    <!-- <app-quote-details *ngIf='cake.showDescription' [quote]='cake' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>   -->
      </div>
    </div> 
    </div>
   </div>

    <p *ngIf='quote.length > 3'></p> 
  </div>