<hr>
<div class="container">
    <h2 class="text-center">Creating a quotes form</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
            <div [hidden]="name.valid || author.pristine" class="alert alert-danger">
                    <p>Author is required</p>
                  </div>
        </div>
            <!-- Testing to see if we get any data -->
        <div class="form-group">
  
            <label for="name">Publisher</label>
            <input type="text"  class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher='ngModel' required>
            <div [hidden]="name.valid || publisher.pristine" class="alert alert-danger">
                    <p>Publisher is required</p>
                  </div>
        </div>
        <div class="form-group">
  
                <label for="quote">Quotes</label>
                <textarea class="form-control" id="quote" rows="6" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
                <div [hidden]="name.valid || quote.pristine" class="alert alert-danger">
                        <p>Quotes is required</p>
                </div>
            </div>
        <div class="form-group">
            <label for="complete">Completion <br></label>
             <input type='date' id="complete">
            <div [hidden]="completeDate.valid || completeDate.pristine" >
            </div>
        </div>
        <button type="submit" class="btn btn-success">QUOTES</button>
    </form>
  </div>
